.footer {
  @include media-mobile {
    background-size: auto;
  }
  .wrapper {
    display: flex;
    justify-content: end;
  }

  .footer__block {
    display: flex;
    justify-content: space-between;
    width: 730px;
    padding: 11px 0;
    @include media-mobile {
      justify-content: center;
      padding: 14px 0;
    }
    .footer__info {
      font-family: Red Hat Text;
      font-weight: 500;
      color: $color-white;
      align-items: center;
      display: flex;
      @include media-mobile {
        display: none;
      }
    }
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
}