.steps {
  margin-bottom: 97px;
  @include media-mobile {
    margin-bottom: 20px;
  }

  .wrapper {
    padding: 0 12px;
  }

  .steps__subtitle {
    display: flex;
    justify-content: center;
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 500;
    color: $color-orange;
    margin-bottom: 40px;
    @include media-mobile {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .steps__block {
    display: flex;
    justify-content: space-between;
  }

  .steps__card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .step__img {
    margin-bottom: 30px;
    @include media-mobile {
      width: 70px;
      margin-bottom: 20px;
    }
  }

  .card__description {
    font-family: Aleo;
    font-size: 20px;
    color: $color-green;
    @include media-mobile {
      font-size: 10px;
      text-align: center;
    }
  }

  .card-middle {
    margin-left: 66px;
    @include media-mobile {
      margin-left: 25px;
    }
  }
}